<!-- Header -->
<header class="header">
  <div class="container">
    <div class="top-bar">
      <!-- More -->
      <label class="top-bar__more d-lg-block" for="navbar-mobile-input">
        <i class="fa-solid fa-bars-staggered top-bar__more-icon"></i>
      </label>

      <!-- Logo -->
      <a href="/" class="logo">
        <img
          src="{{ url_for('static', filename='icons/logo.svg') }}"
          class="logo__img"
        />
      </a>

      <!-- Navbar -->
      <nav class="navbar">
        <ul class="navbar__list d-lg-none">
          <li class="navbar__item">
            <a href="#" class="navbar__link">About us</a>
          </li>
          <li class="navbar__item">
            <a href="/booking" class="navbar__link">Accommodation</a>
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__link">Services</a>
          </li>
        </ul>
      </nav>

      <!-- Navbar Mobile  -->
      <input
        hidden
        type="checkbox"
        name=""
        id="navbar-mobile-input"
        class="navbar__mobile-input"
      />
      <label class="navbar__overlay" for="navbar-mobile-input"></label>
      <nav class="navbar__mobile">
        <label for="navbar-mobile-input">
          <i class="fa-solid fa-arrow-left navbar__mobile-arrow"></i>
        </label>
        <ul class="navbar__mobile-list">
          <li class="navbar__mobile-item">
            <button href="#" class="navbar__mobile-link" text>About us</button>
          </li>
          <li class="navbar__mobile-item">
            <button href="#" class="navbar__mobile-link" text>
              Accommodation
            </button>
          </li>
          <li class="navbar__mobile-item">
            <button href="#" class="navbar__mobile-link" text>Services</button>
          </li>
        </ul>
      </nav>

      <!-- Actions -->
      <div class="top-actions">
        <a href="/login" class="btn btn--primary">Sign In</a>
      </div>
    </div>
  </div>
</header>
